<!DOCTYPE html>
<html>
<head>
    <title>Juego de tica tac toe</title>
    <!--  agregar tus estilos CSS, scripts y metadatos -->
</head>
<body>
    <header>
        <h1>Sitio de Juego - Jhon</h1>
        <nav>
            <!--  agregar los enlaces de navegación -->
        </nav>
    </header>

    <main>
        <!-- El contenido específico de cada página se coloca aquí utilizando el bloque "content" -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!--  agregar información de pie de página -->
    </footer>
</body>
</html>
