<!DOCTYPE html>
<html>
<head>
    <title>Juego Tic Tac Toe</title>
</head>
<body>
    <h1>Juego Tic Tac Toe</h1>
    
    <h2>Partida: {{ partida }}</h2>
    
    <h3>Jugador X: {{ juego.jugadores.0 }}</h3>
    <h3>Jugador O: {{ juego.jugadores.1 }}</h3>
    
    <div>
        <!-- Mostrar el tablero -->
        <table>
            {% for fila in estado_del_juego.tablero %}
                <tr>
                    {% for celda in fila %}
                        <td>
                            <a href="{% url 'realizar_movimiento' partida_id=partida.id fila=forloop.parentloop.counter0 columna=forloop.counter0 %}">
                                {{ celda }}
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    
    <h3>Turno de: {{ juego.jugadores.jugador_actual }}</h3>
    
    <p>{{ mensaje }}</p>
</body>
</html>
