{% if usuario_actual %}
<p>Usuario actual: {{ usuario_actual }}</p>


    {% if partida_activa %}
        <p>Tienes una partida activa.</p>
    {% else %}
        <form method="post" action="{% url 'iniciar_partida' %}">
            {% csrf_token %}
            <label for="jugador2_username">Seleccionar Jugador 2:</label>
            <select name="jugador2_username">
                {% for jugador in jugadores_disponibles %}
                    <option value="{{ jugador.user.username }}">{{ jugador.user.username }}</option>
                {% endfor %}
            </select>
            <button type="submit">Iniciar Partida</button>
        </form>
    {% endif %}
{% else %}
    <p>No has iniciado sesión.</p>
{% endif %}
